<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{manager/managerlayout}"
>
<head>
    <meta charset="UTF-8">
    <title>과목_list</title>
</head>

<div layout:fragment="content">
    <div th:value="${testScore1}"></div>
    <div>[[${testScore1}]]</div>
    <div>[[${testScore1}]]</div>

</div>>

<th:block layout:fragment="script-content">



</th:block>