<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>보안설정</title>
    <script>
        function confirm() {
        const passwordValue = document.getElementById('password').value;
        const password2Value = document.getElementById('password2').value;
        if(passwordValue!==password2Value) {
         document.getElementById('passwordHelp').innerText = '비밀번호가 일치하지 않습니다.';
         password.focus();
          return false;
        } else {
        document.getElementById('passwordHelp').innerText = '';
        passwordHelp.removeClass('passwordHelp')
        return true;
        }

    }
    </script>
</head>

<div layout:fragment="content">

    <div class="offset-1 d-flex flex-row mt-3 mb-3" style="font-size:14px;">
        <a href="/myinfo" class="border-end me-2"><div class="p-2" id="in1"><b>프로필 수정</b></div></a>
        <a href="/my_password" class="border-end me-2"><div class="p-2" id="in2" style="color:rgb(253, 174, 174);"><b>보안설정</b></div></a>
    </div>
    <form th:action="@{passwordchange}" th:object="${userOptional}"  method="post">
    <div class="d-flex justify-content-center">
       <div class="border" style="width:30rem;">
           <div class="d-flex flex-column ms-1 mb-3">
               <div class="p-2">비밀번호 변경</div>
               <div class="p-1" style="color:rgb(243, 96, 59);font-size:12px;">
                   <span style="color:rgb(131, 131, 131);font-size:10px;">*</span>다른 아이디/사이트에서 사용한 적 없는 비밀번호
               </div>
               <div class="p-1 mb-5" style="color:rgb(243, 96, 59);font-size:12px;">
                   <span style="color:rgb(131, 131, 131);font-size:10px;">*</span>이전에 사용한 적 없눈 비밀번호<span style="color:rgb(131, 131, 131);font-size:12px;">가 안전합니다.</span>
               </div>

                <div class="offset-1">
                    <div id="passwordlHelp" class="form-text; font-size:small; p-2" style="color:rgb(189, 192, 194); font-size:12px;">(영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 8자~16자)</div>
                   <input class="form-control mb-2 "  th:field="*{password}" id="password" type="password"  placeholder="새 비밀번호"  aria-describedby="passwordlHelp" style="font-size:13px;width:24.5rem;">
                   <input class="form-control mb-2" id="password2" type="password" placeholder="새 비밀번호 확인" onblur="confirm();" aria-describedby="passwordlHelp" style="font-size:13px;width:24.5rem;">
                    <div id="passwordHelp" class="form-text" style="color:red;"></div>
                </div>

               <div class="offset-1 mt-5 mb-3">
                   <button type="submit" class="btn btn-link mb-2" style="text-decoration:none;font-size:14px;width:24.5rem;background-color: rgb(247, 183, 175);color:white;">확 인</button>
                   <button type="submit"  class="btn btn-secondary" style="font-size:14px;width:24.5rem;background-color:white;color:black;">취 소</button>

           </div>
       </div>
    </div>
</div>
</form>
</div>