<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{manager/managerlayout}"
>
<head>
    <meta charset="UTF-8">
    <title>시험_list</title>
</head>


<div layout:fragment="content">

    <div class="container">
        <div class="mt-4 mb-2 border-bottom p-1" style="font-size:17px;">
            <i class="bi bi-journal-plus"></i> <span style="color:rgb(247, 151, 151);">[[${testTitle.testTitle}]]</span> 출제
        </div>
        <input th:value="${testNumberUuid.uuid}" type="hidden" class="form-control"/>
        <a th:href="@{/question_add/{uuid}(uuid=${testNumberUuid.uuid})}" onclick="window.open(this.href,'/question_add', 'width=900, height=700, left=500, top=170, scrollbars=no');return false;"
           class="p-1 mb-3" style="color:rgb(119, 119, 119); font-size:14px;">
            <i class="bi bi-plus-circle-dotted"></i> 문제등록 <span style="font-size:12px;color:rgb(119, 119, 119);">(버튼을 클릭하여 한 문제씩 등록 해 주세요.)</span>
        </a>

        <table class="mt-5 table table-striped table-responsive" style="width:60rem;">
            <tr>
                <td style="color:rgb(100, 100, 100); font-size:13px;">순번</td>
                <td style="color:rgb(100, 100, 100); font-size:13px;">과목</td>
                <td style="color:rgb(100, 100, 100); font-size:13px;">문제보기</td>
                <td style="color:rgb(100, 100, 100); font-size:13px;">등록/수정일</td>
                <td></td>
            </tr>

            <tr th:each="question, stat : ${questionList}">
                <td style="font-size:14px; width:5rem;">
                    <div class="pt-1">[[${stat.count}]].</div>
                </td>
                <td style="font-size:13px;width:5rem;" >
                    <div class="pt-1">[[${question.testNumber.Subject.subject}]]</div>
                </td>
                <td style="width:25rem;" class="text-break">
                    <div class="pt-1">
                        <a style="text-decoration: none; font-size:13px;" title="시험문제 보기"  th:href="@{/question_edit/__${question.quuid}__}" >[[${question.title}]]</a>
                    </div>
                </td>
                <td style="width:8rem;">
                    <div class="pt-1" th:if="${question.createdAt eq question.editedAt}"  style="font-size:13px;">
                        <div>[[${#dates.format(question.createdAt, 'yyyy.MM.dd HH:MM')}]]&nbsp;</div>
                    </div>
                    <div th:unless="${question.createdAt eq question.editedAt}"  style="font-size:13px;color:rgb(191, 191, 191);">
                        <div>[[${#dates.format(question.createdAt, 'yyyy.MM.dd')}]]&nbsp;,&nbsp;</div>
                        <div>[[${#dates.format(question.editedAt, 'yyyy.MM.dd HH:MM')}]]</div>
                    </div>
                </td>
                <td style="width:8rem;">
                    <a th:href="@{/question_edit/__${question.quuid}__}" class="btn btn-link btn-sm" style="text-decoration:none;color:rgb(102, 102, 102);font-size:14px;">
                        수정 <i class="bi bi-pencil"></i>
                    </a>
                    <a th:href="@{|/question_delete/${question.quuid}|}" class="btn btn-link btn-sm"
                       onclick="javascript:btn()" style="text-decoration:none;color:rgb(248, 158, 158);font-size:14px;">
                        삭제 <i class="bi bi-trash3-fill"></i>
                    </a>
                </td>
            </tr>
        </table>

        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">삭제</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <span>삭제하시겠습니까?</span>
                        <input type="hidden" id="uuid">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취 소</button>
                        <button type="button" class="btn btn-primary" id="deleteConfirm">삭 제</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast" data-bs-delay="3000" role="alert" aria-live-="assertive" aria-atomic="true">
                <div class="toast-header">
                    <i class="bi bi-bookmark-check-fill"></i>
                    <strong class="me-auto" style="font-size:12px;">항목편집</strong>
                    <div class="spinner-border text-secondary spinner-border-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <small class="ms-2" style="color:rgb(15, 15, 15);">작업중..</small>
                    <botton type="button" class="btn-close" data-bs-dimiss="toast" aria-label="close"></botton>
                </div>
                <div class="toast-body" id="toast_message" style="color:rgb(216, 131, 131);">
                    여기는 메세지 자리 아이디를 안주면 이 말이나온다
                </div>
            </div>
        </div>

    </div>
</div>

<th:block layout:fragment="script-content">
    <script>
        function openPop(){
        var w = 500;
        var h = 500;
        var left = (screen.width/2)-(w/2);
        var top = (screen.height/2)-(h/2);

        window.open('/team_add','_blank','width='+w+',height='+h+',top='+top+',left='+left);
    </script>

    <script  type="text/javascript" th:inline="javascript">


        let modal = null;
        let url = null;

        function del_button_clicked(clicked_id) {
            let delButton = document.getElementById(clicked_id);
            let pk = delButton.dataset.pk;

            document.getElementById('uuid').textContent = "「uuid "+pk+"」";
            url = delButton.dataset.url;

            let container = document.getElementById("deleteModal");
            modal = new bootstrap.Modal(container);
            modal.show();
        }

        document.getElementById("deleteConfirm").addEventListener("click", function (){
            if (modal != null) {
                modal.hide();
                location.href = url;
            }
        });




        var toast_message = [[${toast_message}]];

        if (toast_message != null && toast_message !=="") {
            document.getElementById('toast_message').textContent = toast_message;

            var toast = document.getElementById('liveToast')
            var bsToast = new bootstrap.Toast(toast);
            bsToast.show();

        }

    </script>


</th:block>