<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragement="footer">

    <footer class="border-top mt-auto" >

        <div class="d-flex justify-content-between">

            <div class="mt-2 mb-3">
                <i class="bi bi-c-circle"></i>by.team_hojung<br>
                <span style="font-size: 12px;"> 세원.보건.지은.정석.주영</span><br>
                <span style="font-size: 12px;"> 주소.대전 서구 계룡로 637</span>
            </div>

            <div class="mt-2 mb-3">
                <span  style="font-size:16px;color:rgb(78, 78, 90);">고 객 지 원 :</span>
                <a href="tel:1600-2345" style="text-decoration:none">
                    <b><span class="ms-1" style="font-size:16px; color:rgb(240, 146, 146);"><i class="bi bi-telephone-fill"></i> 1600-2345</span></b></a>
                <span style="color:rgb(78, 78, 90); font-size:12px;">(유료)</span>
                <br>
                <span class="ms-5"  style="color:rgb(78, 78, 90); font-size: 12px;">평일:09:00 ~ 18:00 (월~금)</span><br>
                <span class="ms-5"  style="color:rgb(78, 78, 90); font-size: 12px;">주말,공휴일은 쉽니다.</span>
            </div>

            <div class="mt-2 mb-3">
                <li class="ms-1 d-inline"><a class="text-muted" href="https://www.kakaocorp.com/" target="blank">
                    <i class="bi bi-chat-dots-fill" style=" text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; color:rgb(247, 250, 51); font-size:18px;" ></i></a></li>
                <li class="ms-1 d-inline"><a class="text-muted" href="https://www.instagram.com/" target="blank"><i class="bi bi-instagram" style="color:rgb(206, 117, 201); font-size:18px;"></i></a></li>
                <li class="ms-1 d-inline"><a class="text-muted" href="https://www.youtube.com/" target="blank"><i class="bi bi-play-btn-fill" style="font-size:18px; color:red;"></i></a></li>
            </div>

        </div>

    </footer>
</th:block>