<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="header">
    <div class="d-flex flex-row d-flex justify-content-between">
        <div  class="mt-3 ms-3">
            <a href="/" class="col-md-auto" style="color:rgb(107, 107, 107); font-size:25px;">
                <img th:src="@{/images/logo.png}" style="height:3rem;">
            </a>
        </div>
        <div> </div>

            <span sec:authorize="isAuthenticated()">
                <div class="d-flex flex-row mt-3 me-3">

                    <div th:if="${#authentication.principal.userImgPath eq null} ">
                        <a href="/myinfo"><img th:src="@{/images/mug.png}" class="rounded-circle me-1" alt="프로필사진" style="width:3rem;height:3rem;object-fit:cover;"></a>
                    </div>
                    <div th:unless="${#authentication.principal.userImgPath eq null} ">
                        <a href="/myinfo"><img th:src="@{|/uploads/${#authentication.principal.userImgPath}|}" class="rounded-circle me-1" alt="프로필사진" style="width:3rem;height:3rem;object-fit:cover;"></a>
                    </div>

                    <div class="nav-item mt-3 me-4" style="color: rgb(80, 84, 92); font-size: 12px;">
                        <b><span sec:authentication="principal.realName"></span> 님</b>, 환영 합니다!
                    </div>

                    <span sec:authorize="isAuthenticated()">
                        <div class="text-center">
                            <a class="nav-link active border shadow-sm p-1 mt-2" href="/myinfo"
                               style="color:black;background-color:rgb(253, 222, 218);font-size:12px; width:6rem;">
                                내정보 <i class="bi bi-gear"></i></a>
                        </div>
                    </span>

                    <div class="text-center">
                        <a th:href="@{/logout}"  class="nav-link active border shadow-sm ms-2 p-1 mt-2"
                        style="color:black;background-color:rgb(243, 243, 243);font-size:12px; width:6rem;">
                        로그아웃</a>
                    </div>
                </div>
            </span>
        </div>
    </div>


    <nav class="navbar navbar-expand-lg" id="bar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"  style="color:rgb(0, 0, 0);">Dabida</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
                <span class="navbar-toggler-icon"></span>
            </button>



            <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="/introduce" style="color: rgb(27, 34, 44);">학원안내</a>
                    </li>

                    <span sec:authorize="isAuthenticated()">
                        <li class="nav-item">
                            <a class="nav-link active" href="/my_mini_test" style="color: rgb(27, 34, 44);"><i class="bi bi-mortarboard-fill"></i> 나의강의실</a>
                        </li>
                    </span>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" style="color: rgb(27, 34, 44);" data-bs-toggle="dropdown" aria-expanded="false">
                            고객센터
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" style="color:rgb(63, 61, 61);" href="#">공지사항</a></li>
                            <li><a class="dropdown-item" style="color:rgb(63, 61, 61);" href="#">Q&A</a></li>
                            <li><a class="dropdown-item" style="color:rgb(63, 61, 61);" href="#">자료실</a></li>
                        </ul>
                    </li>
                    <span sec:authorize="hasRole('ROLE_ADMIN')" >
                    <li class="nav-item">
                        <a class="nav-link" href="/manager" style="color: rgb(27, 34, 44);">관리자</a>
                    </li>
                    </span>
                </ul>


                <div class="d-flex">
                    <div class="nav-item" style="margin:10px;" sec:authorize="isAnonymous()">
                        <a class="nav-link active" th:href="@{/user/user}" style="color: rgb(27, 34, 44);"><i class="bi bi-check"></i>회원가입</a>
                    </div>

                    <div class="nav-item" style="margin:10px;" sec:authorize="isAnonymous()">
                        <a class="nav-link active"  th:href="@{/login}" style="ccolor: rgb(27, 34, 44); ">
                            로그인</button></a>
                    </div>

                </div>

            </div>
        </div>
    </nav>

</th:block>
