<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호찾기</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
    <script src="webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.11.1/font/bootstrap-icons.css}" />
    <link rel="stylesheet" href="/css/test.css">
    <link rel="stylesheet" href="/js/test.js">

    <link rel="icon" type="image/png" sizes="16x16"  href="images/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="d-flex p-3" style="background-color:rgb(89, 89, 89); color:white;">
    <a href="/" class="ms-2" style="color:white; font-size:16px;">다비다</a>
</div>
<div class="d-flex justify-content-center mt-3">
    <div class="me-5" >
        <a href="/find_id" style="color:rgb(153, 153, 153);font-size:16px;">
            <div id="find"><i class="bi bi-shield-exclamation"></i>아이디 찾기</div>
        </a>
    </div>
    <div class="ms-5">
        <a href="/find_password" style="color:rgb(153, 153, 153); font-size:16px;" >
            <div id="find2"><span style="color:rgb(36, 36, 36);"><i class="bi bi-shield-lock"></i>비밀번호 찾기</span></div>
        </a>
    </div>
</div>
<br>
<br>
<div class="d-flex justify-content-center mt-5">
    <h6 style="color:rgb(36, 36, 36); border-bottom: 1px solid rgb(192, 192, 192); width:50rem;">비밀번호 찾기</h6>
</div>
<div class="d-flex justify-content-center mt-3">
    <form th:action="@{/find_password}"  th:object="${findIdForm}" method="post">

        <div class="d-flex justify-content-center">
            <div class="text-center" style="width:18rem;font-size:13px;">
                <div th:replace="~{form_errors :: formErrorsFragment}" ></div>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-3">
            <div class="border rounded mt-2" style="width:40rem;">
                <div class="p-1 mt-1 ms-2"  style="color:rgb(153, 153, 153);font-size:12px;"> *회원정보에 등록한 이메일과 입력한 이메일이 같아야, 인증번호를 받을 수 있습니다.</div>
                <div class="d-flex mt-3 mb-3">
                    <div class="ms-5 me-2 mt-2" style="font-size:14px; width:5rem;">아이디</div>

                        <input type="email"  th:field="*{username}" style="width:20rem;height:2rem;" class="form-control form-control-sm" id="username">
                        <button style="width:5.5rem;height:2rem; font-size:11px;" type="button"
                                id="sendBtn" name="sendBtn" class="ms-1 btn btn-outline-secondary btn-sm"  onclick="sendNumber()">
                            인증번호 받기
                        </button>
                    </div>
                <div class="d-flex mt-3 mb-3">
                    <div class="ms-5 me-2 mt-2" style="font-size:14px; width:5rem;">&nbsp; </div>
                    <input type="text" style="width:20rem;height:2rem;font-size:12px;" th:field="*{mail_number}"  class="form-control form-control-sm"  placeholder="인증번호 6자리 숫자 입력">
                    <input type="text" id="mail_number1" th:field="*{mail_number1}" name="mail_number1"   style="display: none" value="">
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button type="submit"  class="btn btn-link btn-sm me-1" style="text-decoration:none;background-color:rgb(253, 158, 64);color:white; width:3rem;">
                확인
            </button>
            <a href="/" type="submit"  class="btn btn-link btn-sm me-3" style="text-decoration:none;background-color:rgb(168, 168, 168);color:white; width:3rem;">
                취소
            </a>
        </div>
</form>
</div>
</body>
</html>

<!--$("#mail_number").css("display","block");-->
<script type="text/javascript">
    function sendNumber(){
        $.ajax({
            url:"/mail",
            type:"post",
            dataType:"json",
            data:{"username" : $("#username").val()},
            success: function(data){
                alert("인증번호 발송");
                $("#mail_number1").attr("value",data);
            }
        });
    }
</script>
</th:block>
